.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
    height: 650px;
    border-radius: 30px;
    margin-top: 200px;
    background: #fff;
    padding-bottom: 30px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.text {
    color: #000000;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Mouse Memoirs', sans-serif;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #9D7FDE;
    border-radius: 20px;
}

.input input {
    height: 50px;
    padding-left: 15px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #000000;
    font-size: 20px;
}

.submit-container {
    display: flex;
    margin: 60px auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 299px;
    height: 59px;
    color: #fff;
    background: #5D3587;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.already {
    padding-left: 98px;
    margin-top: -40px;
    color: #000000;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 25px;
    height: 18px;
    margin-left: 80px;
    padding-bottom: 600px;
}

.already span {
    color: #5D3587;
    cursor: pointer;
}
