/* AccountLogin.css */

.account-login-container {
    width: 55%; /* 3/4th of the page */
    padding: 20px;
    height: 100vh;
    background-color: #fff; /* Adjust as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left; /* Align text to the left */
  }
  
  h1 {
    color: #392467;
    font-size: 80px;
    font-family: 'Mouse Memoirs', sans-serif;
    margin-bottom: 50px;
    margin-top:-10px; /* Add margin at the bottom */
  }
  
  h2 {
    color: #000000;
    font-size: 64px;
    margin-top: 10px;
    margin-left: 220px;
    margin-bottom: -10px;
    font-family: 'Mouse Memoirs', sans-serif;
  }


  h3 {
    color: #000000;
    font-size: 25px;
    margin-bottom:60px;
    margin-left: 325px;
    margin-top:25px;
    font-family: 'Mouse Memoirs', sans-serif;
  }
  
  .social-images {
    display: flex;
    justify-content:space-evenly;
    margin-top: 40px;
  }
  
  img {
    width: 53px; /* Adjust as needed */
    height: 53px; /* Adjust as needed */
    object-fit: contain;
    margin-right: 5px; /* Reduced margin for closer spacing between images */
  }
  
  
  
  .underline {
    width: 300px;
    height: 2px;
    background-color: #000000;
    margin:50px auto;
  }
  
  .inputs {
    margin-top:100px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #c1afe9;
    border-radius: 30px;
  }
  
  .input input {
    flex: 1;
    height: 40px; /* Adjusted height */
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #ccc;
    color: #000000;
    border-radius: 20px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
  }
  
  .submit-container {
    display: flex;
    margin: 60px auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 299px;
    height: 59px;
    color: #fff;
    background: #5D3587;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    margin:auto;
}
.signup-container {
    width: 55%; /* 55% of the page */
    padding: 20px;
    margin-top: -580px; /* Add margin as needed */
    margin-left: 1023px; /* Move to the right by 100px */
    background-color: #392467; /* Adjust as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .signup-container h1 {
    color: #FFFFFF;
    font-size: 100px;
    margin:auto;
    margin-bottom: -25px;
    font-family: 'Mouse Memoirs', sans-serif;
  }
  
  .signup-container h2 {
    color: #FFFFFF;
    font-size: 27px;
    margin-top: 40px;
    margin:right;
    font-family: 'Mouse Memoirs', sans-serif;
  }
  